@if (serie) {
  <div class="serie-ligne">
    <div class="serie-info">
      <a [routerLink]="['/series', serie.idSerie]" class="nom-serie-lien">{{ serie.nom }}</a>
      <button (click)="supprimer(serie.idSerie)" class="btn-supprimer">X</button>
      @if (serie.statutSerie === 'EN_COURS' && !tousLesLivresEnregistres(serie)) {
        <a [routerLink]="['/livres/creer', serie.idSerie]" class="btn-livre">+ Dragon</a>
      }
    </div>
    <div class="ligne-pointillee"></div>
    <div class="carres">
      @for (
        carre of getCarreaux(serie.nombreLivreTotal, serie.livres, serie.statutSerie);
        track $index
      ) {
        <span [class]="carre.classe" (click)="ouvrirMenuStatut(carre)">{{ carre.symbole }}</span>
        @if (carreSelectionne?.livreId && carreSelectionne?.livreId === carre.livreId) {
          <div class="menu-statut">
            <p>Changer le statut :</p>
            <button (click)="changerStatut('LU')">Lu</button>
            <button (click)="changerStatut('DANS_PAL')">Dans ma PAL</button>
            <button (click)="changerStatut('A_ACHETER')">À acheter</button>
            <button (click)="carreSelectionne = null">Annuler</button>
          </div>
        }
      }
    </div>
  </div>
}
