.page-stats {
    padding: 2rem 4rem;
}

.page-stats h1 {
    color: var(--couleur-or);
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.05rem;
}

/* SERIES LES PLUS LONGUES */
.conteneur-cartes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.carte-record {
    padding: 1.5rem 2rem;
    border: 2px solid var(--couleur-bronze);
    background-color: #0d0d0d;
    text-align: center;
    flex: 0 1 280px;
}

.nom-record {
    color: var(--couleur-texte);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.valeur-record {
    font-family: 'Cinzel', serif;
    color: var(--couleur-or);
    font-size: 2rem;
    font-weight: 700;
}

.carte-record h2 {
    color: var(--couleur-cuivre);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* REPARTITION TAILLE SERIES*/
.sous-texte-record {
    color: var(--couleur-bronze);
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.titre-section {
    color: var(--couleur-or);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}