.page-stats {
    padding: 2rem 4rem;
}

.page-stats h1 {
    color: var(--couleur-emeraude);
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.05rem;
}

/* SERIES LES PLUS LONGUES */
.conteneur-cartes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.carte-record {
    padding: 1.5rem 2rem;
    border: 2px solid var(--couleur-bronze);
    background-color: #0d0d0d;
    text-align: center;
    flex: 0 1 280px;
}

.nom-record {
    color: var(--couleur-texte);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.valeur-record {
    font-family: 'Cinzel', serif;
    color: var(--couleur-or);
    font-size: 2rem;
    font-weight: 700;
}

.carte-record h3 {
    color: var(--couleur-cuivre);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* REPARTITION TAILLE SERIES*/
.sous-texte-record {
    color: var(--couleur-bronze);
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.titre-section {
    color: var(--couleur-or);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

/* LISTE AUTEURS AVEC SERIES EN COURS */
.conteneur-auteurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.conteneur-auteurs .titre-section {
    text-align: left;
}

.carte-record-auteurs {
    padding: 1.5rem 2rem;
    border: 2px solid var(--couleur-bronze);
    background-color: #0d0d0d;
    text-align: left;
    width: fit-content;
}

.liste-auteurs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.liste-auteurs li {
    padding: 0.4rem 0;
    color: var(--couleur-texte);
    border-bottom: 1px solid var(--couleur-bronze);
}

.liste-auteurs li:last-child {
    border-bottom: none;
}

.nombre-series-auteur {
    color: var(--couleur-emeraude);
    font-weight: 600;
}

/* DUREE MOYENNE LECTURE SERIE */
.conteneur-cote-a-cote {
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.conteneur-decompte {
    display: flex;
    gap: 0.8rem;
}

.bloc-decompte {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0d;
    border: 1px solid var(--couleur-emeraude);
    padding: 0.8rem 1.2rem;
    min-width: 70px;
}

.chiffre-decompte {
    font-family: 'Cinzel', serif;
    color: var(--couleur-or);
    font-size: 1.8rem;
    font-weight: 700;
}

.label-decompte {
    color: var(--couleur-texte);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-top: 0.3rem;
}