<div class="page-stats">
  <h1>Les statistiques du dragon : la vérité, aussi brute que ses écailles</h1>

  <div class="conteneur-cartes">
    @if (seriesLesPlusLongues?.serieEnCoursLaPlusLongue) {
      <div class="carte-record">
        <h2>Le plus long vol jamais entamé</h2>
        <p class="nom-record">{{ seriesLesPlusLongues.serieEnCoursLaPlusLongue.nom }}</p>
        <p class="valeur-record">
          {{ seriesLesPlusLongues.serieEnCoursLaPlusLongue.nombreLivreTotal }} tomes
        </p>
      </div>
    }

    @if (seriesLesPlusLongues?.serieTermineeLaPlusLongue) {
      <div class="carte-record">
        <h2>Le plus long vol achevé</h2>
        <p class="nom-record">{{ seriesLesPlusLongues.serieTermineeLaPlusLongue.nom }}</p>
        <p class="valeur-record">
          {{ seriesLesPlusLongues.serieTermineeLaPlusLongue.nombreLivreTotal }} tomes
        </p>
      </div>
    }
  </div>

  <h2 class="titre-section">Le bestiaire de tes séries, classé par ampleur</h2>
  <div class="conteneur-cartes">
    <div class="carte-record">
      <h2>Couvée de dragonnet de poche</h2>
      <p class="valeur-record">{{ tailleSeries.petites }}</p>
      <p class="sous-texte-valeur">1 à 3 tomes</p>
    </div>

    <div class="carte-record">
      <h2>Couvée de wyrm de bibliothèque</h2>
      <p class="valeur-record">{{ tailleSeries.moyennes }}</p>
      <p class="sous-texte-valeur">4 à 7 tomes</p>
    </div>

    <div class="carte-record">
      <h2>Couvée de dragon des pavés</h2>
      <p class="valeur-record">{{ tailleSeries.sagas }}</p>
      <p class="sous-texte-valeur">8 tomes et plus</p>
    </div>
  </div>

  <div class="conteneur-cote-a-cote">
    <div class="conteneur-auteurs">
      <h2 class="titre-section">Ceux qui pondent le plus de couvées</h2>
      <div class="carte-record-auteurs">
        <ul class="liste-auteurs">
          @for (auteur of auteursSeriesEnCours; track $index) {
            <li>
              {{ auteur.auteur }} (<span class="nombre-series-auteur">{{
                auteur.nombreSeries
              }}</span
              >)
            </li>
          }
        </ul>
      </div>
    </div>

    <div class="conteneur-auteurs">
      <h2 class="titre-section">Le temps moyen passé enfermé(e) avec une couvée</h2>
      <div class="conteneur-decompte">
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeDecomposee.annees }}</span>
          <span class="label-decompte">an{{ dureeDecomposee.annees > 1 ? 's' : '' }}</span>
        </div>
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeDecomposee.mois }}</span>
          <span class="label-decompte">mois</span>
        </div>
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeDecomposee.jours }}</span>
          <span class="label-decompte">jour{{ dureeDecomposee.jours > 1 ? 's' : '' }}</span>
        </div>
      </div>
    </div>

    <div class="conteneur-auteurs">
      <h2 class="titre-section">Le temps que met un dragon à éclore</h2>
      <div class="conteneur-decompte">
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeMoyennePalDecomposee.annees }}</span>
          <span class="label-decompte">an{{ dureeMoyennePalDecomposee.annees > 1 ? 's' : '' }}</span>
        </div>
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeMoyennePalDecomposee.mois }}</span>
          <span class="label-decompte">mois</span>
        </div>
        <div class="bloc-decompte">
          <span class="chiffre-decompte">{{ dureeMoyennePalDecomposee.jours }}</span>
          <span class="label-decompte">jour{{ dureeMoyennePalDecomposee.jours > 1 ? 's' : '' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
