h2 {
    font-family: 'Cinzel', serif;
    padding: 0.5rem 4rem;
    margin: 1rem 0;
}

.seriesEnCours {
    color: var(--couleur-emeraude);
    border-bottom: 1px solid var(--couleur-emeraude);
}

.seriesAbandonnees {
    color: var(--couleur-violet);
    border-bottom: 1px solid var(--couleur-violet);
}

.seriesTerminees {
    color: var(--couleur-bronze);
    border-bottom: 1px solid var(--couleur-bronze);
}

/* LISTE SERIES */

.liste-series {
    padding: 0 4rem;
    margin-bottom: 2rem;
}