/* LISTE SERIES */

.liste-series {
    padding: 0 4rem;
}

.serie-ligne {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.3rem 1rem;
}

.serie-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrés {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
}

.carrés span {
    font-size: 2.5rem;
    width: 1.5rem;
    text-align: center;
}

/* BOUTON AJOUT LIVRE */

.btn-livre {
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--couleur-or);
    color: var(--couleur-or);
    font-family: 'Cinzel', serif;
    text-decoration: none;
}

.btn-livre:hover {
    background-color: var(--couleur-bordeaux);
    border-color: var(--couleur-bordeaux);
    color: var(--couleur-texte);
}

/* BOUTON SUPPRIMER SERIE */
.btn-supprimer {
    background-color: transparent;
    border: 1px solid var(--couleur-bordeaux);
    color: var(--couleur-bordeaux);
    padding: 0.2rem 0.6rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.btn-supprimer:hover {
    background-color: var(--couleur-bordeaux);
    color: var(--couleur-texte);
}