<div class="liste-series">
    @for (serie of series; track serie.idSerie) {
        <div class="serie-ligne">
            <div class="serie-info">
                <span>{{ serie.nom }}</span>
                <button (click)="supprimer(serie.idSerie)" class="btn-supprimer">X</button>
                @if (serie.statutPublication === 'TERMINEE') {
                    <span class="statut-publication">Publication terminée</span>
                } @else if (serie.statutPublication === 'EN_COURS') {
                    <span class="statut-publication">En cours de publication</span>
                } @else {
                    <span class="statut-publication">Inconnu</span>
                }
                @if (serie.statutSerie !== 'TERMINEE') {
                    <a [routerLink]="['/livres/creer', serie.idSerie]" class="btn-livre">+ Livre</a>
                }
            </div>
            <div class="carrés">
                @for (carre of getCarreaux(serie.nombreLivreTotal, serie.livres, serie.statutSerie); track $index) {
                    <span [class]="carre.classe" (click)="ouvrirMenuStatut(carre)">{{ carre.symbole }}</span>
                    @if (carreSelectionne?.livreId && carreSelectionne?.livreId === carre.livreId) {
                        <div class="menu-statut">
                            <p>Changer le statut :</p>
                            <button (click)="changerStatut('LU')">Lu</button>
                            <button (click)="changerStatut('DANS_PAL')">Dans ma PAL</button>
                            <button (click)="changerStatut('A_ACHETER')">À acheter</button>
                            <button (click)="carreSelectionne = null">Annuler</button>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

<a routerLink="/series/creer" class="btn-dragon">Créer une série à suivre</a>
