<a routerLink="/series/creer" class="btn-dragon">Créer une couvées à suivre</a>

<h2 class="seriesEnCours">Couvées en cours</h2>
<div class="liste-series">
    @for (serie of seriesEnCours; track serie.idSerie) {
        <app-serie-item
            [serie]="serie"
            (serieModifiee)="chargerSeries()"
            (supprimerSerie)="supprimer($any($event))">
            </app-serie-item>
    }
</div>

<h2 class="seriesAbandonnees">Couvées abandonnées</h2>
<div class="liste-series">
    @for (serie of seriesAbandonnee; track serie.idSerie) {
        <app-serie-item
            [serie]="serie"
            (serieModifiee)="chargerSeries()"
            (supprimerSerie)="supprimer($any($event))">
            </app-serie-item>
    }
</div>

<h2 class="seriesTerminees">Couvées terminées</h2>
<div class="liste-series">
    @for (serie of seriesTerminee; track serie.idSerie) {
        <app-serie-item
            [serie]="serie"
            (serieModifiee)="chargerSeries()"
            (supprimerSerie)="supprimer($any($event))">
            </app-serie-item>
    }
</div>