/* LISTE SERIES */

.liste-series {
    padding: 0 4rem;
}

.serie-ligne {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.3rem 1rem;
}

.carrés {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
}

.carrés span {
    font-size: 2.5rem;
    width: 1.5rem;
    text-align: center;
}

