<form [formGroup]="livreForm" (ngSubmit)="onSubmit()" class="formulaire">
    <h1>Enregistrer un livre</h1>

    <div class="champ">
        <label for="titre">Titre du livre</label>
        <input type="text" id="titre" formControlName="titre" placeholder="Titre du livre">
    </div>

    <div class="champ champ-autocomplete">
        <label for="auteur">Auteur du livre</label>
        <input type="text" id="auteur" formControlName="auteur" placeholder="Auteur du livre" (input)="filtrerAuteurs()" (focus)="filtrerAuteurs()" (blur)="fermerSuggestionsAvecDelai()"
        autocomplete="off">
        @if (suggestionsVisibles) {
            <ul class="liste-suggestion">
                @for (auteur of auteursFiltres; track auteur) {
                    <li (mousedown)="choisirAuteur(auteur)">{{auteur}}</li>
                }
            </ul>
        }
    </div>

    <div class="champ">
        <label for="isbn">ISBN du livre</label>
        <input type="text" id="isbn" formControlName="isbn" placeholder="ISBN du livre">
    </div>

    <div class="champ">
        <label for="numeroDansLaSerie">Place dans la série</label>
        <input type="number" id="numeroDansLaSerie" formControlName="numeroDansLaSerie" placeholder="Place dans la série">
    </div>

    <div class="champ">
        <label for="statutLivre">Statut du livre</label>
        <select id="statutLivre" formControlName="statutLivre">
            <option value="LU">Lu</option>
            <option value="DANS_PAL">Dans ma PAL</option>
            <option value="A_ACHETER">A acheter</option>
        </select>
    </div>

    <div class="champ">
        <label for="formatLivre">Format du livre</label>
        <select id="formatLivre" formControlName="formatLivre">
            <option value="EBOOK">Ebook</option>
            <option value="PAPIER">Papier</option>
        </select>
    </div>

    @if (livreForm.get('statutLivre')?.value === 'DANS_PAL' || livreForm.get('statutLivre')?.value === 'LU') {
        <div class="champ">
            <label for="dateAcquisition">Date d'acquisition</label>
            <input type="date" id="dateAcquisition" formControlName="dateAcquisition">
        </div>
    }

    @if (livreForm.get('statutLivre')?.value === 'LU') {
        <div class="champ">
            <label for="dateLecture">Date de lecture</label>
            <input type="date" id="dateLecture" formControlName="dateLecture">
        </div>
    }

    <div class="champ">
        <label for="serie">Série</label>
        @if (serieCourante) {
            <p>{{ serieCourante.nom }}</p>
        }
    </div>

    <button type="submit" class="btn-dragon">Enregistrer</button>
    
</form>